.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #e5e5e5 !important;
  position: fixed;
}

.bg {
  background-image: url("./assets/background.jpg");
}

.blue-bg {
  position: absolute;
  background: rgba(4, 3, 37, 0.75);
  min-width: 100%;
  height: 100vh;
}

.notification {
  background-color: #e5e5e5 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  position: fixed;
  top: 0;
  min-width: 100%;
  max-height: 200px;
  z-index: 1;
}

.garmin {
  margin-top: -20px !important;
}

.garmin-2 {
  margin-bottom: 30px !important;
}

.locor {
  color: #007bc1;
}

.logo {
  width: 50px;
  height: 50px;
  color: white !important;
  z-index: 1;
  margin-top: -350px !important;
}

.baten {
  background-color: #007bc1;
  color: white;
}

.baten-home {
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 15px;
  border-radius: 2.5px;
}

.baten-home:hover {
  color: #007bc1;
  background-color: white;
}

.homebot {
  background-color: #e5e5e5;
  z-index: 1;
}

.card-bg {
  background-color: transparent !important;
  height: 25% !important;
  box-shadow: none;
}

.card-header-icon:hover {
  cursor: inherit;
}

.foot-color-text {
  color: ​#007bc1;
}

.bg-footer {
  background-color: #040325;
}

.newsletter {
  position: fixed;
  background-color: #1982c4;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.is-half-mobile {
  margin-left: 15px;
}

.col-news {
  z-index: 1;
  margin-bottom: 95px !important;
}

.delpos {
  display: flex;
  float: right;
}

.animateDissapear {
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes fadeOut {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 300px;
    opacity: 0;
  }
}

.animateAppear {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    top: 300px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@media only screen and (max-width: 960px) {
  .toppest {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .toppest {
    margin-top: 200px;
  }
}
